<section id="portfolio">
  <div class="intro-wrap">
    <div class="row narrow section-intro with-bottom-sep animate-this">
      <div class="col-twelve">
        <h3>Showcase</h3>
        <h1>See Our Featured Projects.</h1>
        <p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>
      </div>
    </div>
  </div>

  <div class="row portfolio-content">
    <div class="col-twelve">
      <div id="folio-wrap" class="bricks-wrapper">
        <div class="brick folio-item">
          <div class="item-wrap animate-this" data-src="../../../assets/images/portfolio/gallery/g-shutterbug.jpg" data-sub-html="#01" >
            <a href="#" class="overlay">
              <img src="../../../assets/images/portfolio/shutterbug.jpg" alt="Skaterboy">
              <div class="item-text">
	                     	<span class="folio-types">
		     					      Web Development
		     					   </span>
                <h3 class="folio-title">Shutterbug</h3>
              </div>
            </a>
            <a href="https://www.behance.net/" class='details-link' title="details">
              <i class="icon-link"></i>
            </a>
          </div>
          <div id="01" class='hide'>
            <h4>Shutterbug</h4>
            <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
          </div>
        </div>

        <div class="brick folio-item">
          <div class="item-wrap animate-this" data-src="../../../assets/images/portfolio/gallery/g-yellowwall.jpg" data-sub-html="#02">
            <a href="#" class="overlay">
              <img src="../../../assets/images/portfolio/yellowwall.jpg" alt="Shutterbug">
              <div class="item-text">
	                     	<span class="folio-types">
		     					      Marketing
		     					   </span>
                <h3 class="folio-title">Yellow Wall</h3>
              </div>
            </a>
            <a href="https://www.behance.net/" class='details-link' title="details">
              <i class="icon-link"></i>
            </a>
          </div>
          <div id="02" class='hide'>
            <h4>Yellow Wall</h4>
            <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
          </div>
        </div>

        <div class="brick folio-item">
          <div class="item-wrap animate-this" data-src="../../../assets/images/portfolio/gallery/g-architecture.jpg" data-sub-html="#03" >
            <a href="#" class="overlay">
              <img src="../../../assets/images/portfolio/architecture.jpg" alt="Explore">
              <div class="item-text">
		     					   <span class="folio-types">
		     					      Web Design
		     					   </span>
                <h3 class="folio-title">Architecture</h3>
              </div>
            </a>
            <a href="https://www.behance.net/" class='details-link' title="details">
              <i class="icon-link"></i>
            </a>
          </div>
          <div id="03" class='hide'>
            <h4>Architecture</h4>
            <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
          </div>
        </div>

        <div class="brick folio-item">
          <div class="item-wrap animate-this"  data-src="../../../assets/images/portfolio/gallery/g-minimalismo.jpg"  data-sub-html="#04" >
            <a href="#" class="overlay">
              <img src="../../../assets/images/portfolio/minimalismo.jpg" alt="Minimalismo">
              <div class="item-text">
		     					   <span class="folio-types">
		     					      Web Design
		     					   </span>
                <h3 class="folio-title">Minimalismo</h3>
              </div>
            </a>
            <a href="https://www.behance.net/" class='details-link' title="details">
              <i class="icon-link"></i>
            </a>
          </div>
          <div id="04" class='hide'>
            <h4>Minimalismo</h4>
            <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
          </div>
        </div>

        <div class="brick folio-item">
          <div class="item-wrap animate-this"  data-src="../../../assets/images/portfolio/gallery/g-skaterboy.jpg"  data-sub-html="#05" >
            <a href="#" class="overlay">
              <img src="../../../assets/images/portfolio/skaterboy.jpg" alt="Bicycle">
              <div class="item-text">
		     					   <span class="folio-types">
		     					      Branding
		     					   </span>
                <h3 class="folio-title">Skaterboy</h3>
              </div>
            </a>
            <a href="https://www.behance.net/" class='details-link' title="details">
              <i class="icon-link"></i>
            </a>
          </div>
          <div id="05" class='hide'>
            <h4>Skaterboy</h4>
            <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
          </div>
        </div>

        <div class="brick folio-item">
          <div class="item-wrap animate-this"  data-src="../../../assets/images/portfolio/gallery/g-salad.jpg"  data-sub-html="#06">
            <a href="#" class="overlay">
              <img src="../../../assets/images/portfolio/salad.jpg" alt="Salad">
              <div class="item-text">
		     					   <span class="folio-types">
		     					      Branding
		     					   </span>
                <h3 class="folio-title">Salad</h3>
              </div>
            </a>
            <a href="https://www.behance.net/" class='details-link' title="details">
              <i class="icon-link"></i>
            </a>
          </div>
          <div id="06" class='hide'>
            <h4>Salad</h4>
            <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
