<section id="services">
  <div class="overlay"></div>
  <div class="gradient-overlay"></div>
  <div class="row narrow section-intro with-bottom-sep animate-this">
    <div class="col-full">
      <h3>Services</h3>
      <h1>What We Do.</h1>
      <p class="lead">Lorem ipsum Elit ut consequat veniam eu nulla nulla reprehenderit reprehenderit sit velit in cupidatat ex aliquip ut cupidatat Excepteur tempor id irure sed dolore sint sunt voluptate ullamco nulla qui Duis qui culpa voluptate enim ea aute qui veniam in irure et nisi nostrud deserunt est officia minim.</p>
    </div>
  </div>

  <div class="row services-content">
    <div class="services-list block-1-2 block-tab-full group">
      <div class="bgrid service-item animate-this">
        <span class="icon"><i class="icon-paint-brush"></i></span>
        <div class="service-content">
          <h3 class="h05">Branding</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
          </p>
        </div>
      </div>

      <div class="bgrid service-item animate-this">
        <span class="icon"><i class="icon-earth"></i></span>
        <div class="service-content">
          <h3 class="h05">Web Design</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
          </p>
        </div>
      </div>

      <div class="bgrid service-item animate-this">
        <span class="icon"><i class="icon-lego-block"></i></span>
        <div class="service-content">
          <h3 class="h05">Web Development</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
          </p>
        </div>
      </div>

      <div class="bgrid service-item animate-this">
        <span class="icon"><i class="icon-megaphone"></i></span>
        <div class="service-content">
          <h3 class="h05">Marketing</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
