<header>
  <div class="header-logo">
    <a href="/">Infinity</a>
  </div>

  <a id="header-menu-trigger" href="#0">
    <span class="header-menu-text">Menu</span>
    <span class="header-menu-icon"></span>
  </a>

  <nav id="menu-nav-wrap">
    <a href="#0" class="close-button" title="close"><span>Close</span></a>
    <h3>Infinity.</h3>
    <ul class="nav-list">
      <li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
      <li><a class="smoothscroll" href="#about" title="">About</a></li>
      <li><a class="smoothscroll" href="#services" title="">Services</a></li>
      <li><a class="smoothscroll" href="#portfolio" title="">Works</a></li>
      <li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
    </ul>

    <p class="sponsor-text">
      Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">DreamHost</a>.
      Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>.
    </p>

    <ul class="header-social-list">
      <li>
        <a href="#"><i class="fa fa-facebook-square"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-behance"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-dribbble"></i></a>
      </li>
    </ul>
  </nav>
</header>
