<header>
  <div class="header-logo">
    <a href="/">Infinity</a>
  </div>
  <div id="header-menu-trigger">
    <ul class="header-social-list" *ngFor="let l of links">
      <li>
        <a href="{{l?.link_facebook}}"><i class="fa fa-facebook-square"></i></a>
      </li>
      <li>
        <a href="{{l?.link_twitter}}"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="{{l?.link_instagram}}"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href="{{l?.link_github}}"><i class="fa fa-github"></i></a>
      </li>
    </ul>
  </div>
</header>
