@import url("../../../assets/css/base.css");
@import url("../../../assets/css/main.css");

footer {
  background-color: #151515;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.4rem;
  font-family: "poppins-regular", sans-serif;
}

footer a,
footer a:visited {
  color: #FFFFFF;
}

footer a:hover,
footer a:focus {
  color: #FF0077;
}

footer .row {
  max-width: 900px;
}

footer .social {
  text-align: right;
}

footer .footer-social {
  display: inline-block;
  font-size: 2.1rem;
  margin: 0;
  padding: 0;
  position: relative;
  top: -.3rem;
}

footer .footer-social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

footer .footer-social li a {
  color: #FFFFFF;
}

footer .copyright span {
  display: inline-block;
  color: #FFFFFF;
}

footer .copyright span::after {
  content: "|";
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: rgba(255, 255, 255, 0.1);
}

footer .copyright span:last-child::after {
  display: none;
}


/**
* responsive:
* footer
* -------------------------------------------------------------------
*/

@media only screen and (max-width:768px) {
  footer {
    text-align: center;
  }
  footer .social {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  footer .copyright span {
    display: block;
  }
  footer .copyright span::after {
    display: none;
  }
}


/**
* go to top
* -------------------------------------------------------------------
*/

#go-top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 600;
  display: none;
}

#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 6.6rem;
  width: 6rem;
  line-height: 6.6rem;
  text-align: center;
  background: #cc005f;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#go-top a i {
  font-size: 1.6rem;
  line-height: inherit;
}

#go-top a:hover {
  background: #000000;
}
/*
 *  Preloader
 */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0F1215;
  z-index: 800;
  height: 100%;
  width: 100%;
}

.no-js #preloader, .oldie #preloader {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
  background-color: #f9a828;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
