<section id="contact" *ngFor="let me of contacts_me">
  <div class="overlay"></div>
  <div class="row narrow section-intro with-bottom-sep animate-this">
    <div class="col-twelve">
      <h3>Contact</h3>
      <h1>{{me?.title}}</h1>
      <p class="lead">{{me?.description}}</p>
    </div>
  </div>

  <div class="row contact-content">
    <div class="col-seven tab-full animate-this">
      <h5>Send Us A Message</h5>
      <form name="contactForm" id="contactForm" method="post" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="form-field">
          <input name="contactName" type="text" id="contactName" placeholder="Name" #name="ngModel" [(ngModel)]="contactService.formData.name">
        </div>
        <div class="row">
          <div class="col-six tab-full">
            <div class="form-field">
              <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" #email="ngModel" [(ngModel)]="contactService.formData.email">
            </div>
          </div>
          <div class="col-six tab-full">
            <div class="form-field">
              <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" #subject="ngModel" [(ngModel)]="contactService.formData.subject">
            </div>
          </div>
        </div>
        <div class="form-field">
          <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" #message="ngModel" [(ngModel)]="contactService.formData.message"></textarea>
        </div>

        <div class="form-field">
          <button class="submitform" type="submit" [disabled]="form.invalid">Submit</button>
          <div id="submit-loader">
            <div class="text-loader">Sending...</div>
            <div class="s-loader">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
        </div>
      </form>
      <div id="message-warning"></div>
      <div id="message-success">
        <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      </div>
    </div>

    <div class="col-four tab-full contact-info end animate-this" *ngFor="let info of contacts_info">
      <h5>Contact Information</h5>
      <div class="cinfo">
        <h6 style="color: white">{{info?.title}}</h6>
        <p style="color: #fff4a5">{{info?.short_desc}}</p>
      </div>
    </div>
  </div>
</section>
